@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
.header-carousel .owl-dots button {
    width: 12px;
    height: 12px;
    opacity: 1;
    border-radius: 100px;
    margin: 0 3px;
    background: #e6e9ed !important;
    padding: 0;
}
.header-carousel .owl-dots {
    text-align: center;
    margin: 0 auto 20px;
    position: static;
    bottom: 20px;
    right: 20px;
}
.header-carousel .owl-dots button.active {
    opacity: 0.95;
    width: 16px;
    background: none !important;
    border: 2px solid #3c8cac !important;
    height: 16px;
}
.header-carousel .owl-nav {
    display: none;
}
.grid-container {
    max-width: 1024px !important;
}
a {
    font-weight: normal;
    text-decoration: none !important;
}
